body{
	text-align: center;
	background: url("background.jpg");
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-opacity: 0.1;
}

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


h1, h2{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #1b1b1b;
}

h1{
	font-size: 26px;
	margin: 15% 0 8% 0;
}

h2{
	font-size: 13px;
}

p{
	font-family: 'Muli', sans-serif;
	font-size: 13px;
	color: #1b1b1b;
	line-height: 1.8;
}

.preview-container{
	width: 1170px;
	margin: 0 auto;
}

.column{
	width: 25%;
	float: left;
	padding: 0 2.5%;
}

.column img{
	display: block;
	width: 100%;
	margin-bottom: 1.5%;
}

.column a{
	display: inline-block;
	position: relative;
}

.column a::after{
	content: 'Preview';
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-decoration: none;
	position: absolute;
	left: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	top: 50%;
	left: 50%;
	margin-left: -41px;
	margin-top: 0;
	z-index: 1;
	padding: 10px 16px;
	border: 2px solid white;
	border-radius: 4px;
	opacity: 0;
	visibility: hidden;
	transition: all .35s ease;
	-moz-transition: all .35s ease;
	-webkit-transition: all .35s ease;
}

.column a:hover:after{
	visibility: visible;
	opacity: 1;
	margin-top: -20px;
}

.column a:hover img{
	opacity: .5;
	transition: all .75s ease-in-out;
	-moz-transition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
}

.color a::after{
	color: #4d484f;
}

.black a::after{
	color: #1b1b1b;
}

.app a::after{
	color: #3d729a;
}

.freelancer a::after{
	color: #258f81;
}