/* --- TABLE OF CONTENTS --- */
/*
1. Imports
2. CSS Reset
3. General Styles
4. Intro
5. About
6. Portfolio
7. Testimonials
8. Video
9. Download our app
10. Contact
11. Footer
12. Responsive Main Menu
13. Single Page Project
14. Portfolio Page
15. Media Queries
  /* 
  ==========================================================================
  1. IMPORTS
  ========================================================================== 
  */
  @import url('linea.css');
  @import url('font-awesome.min.css');
  /* 
  ==========================================================================
  2. CSS RESET
  ========================================================================== 
  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, 
  aside, 
  details, 
  figcaption, 
  figure, 
  footer, 
  header, 
  hgroup, 
  menu, 
  nav, 
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, 
  ul {
    list-style: none;
  }
  blockquote, 
  q {
    quotes: none;
  }
  blockquote:before, 
  blockquote:after,
  q:before, 
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /**
   * 1. Always force vertical scroll
   * 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
   * 3. For animations
   */
  html { 
    font-size: 100%; 
    overflow-y: scroll; /* 1  */ 
    -ms-text-size-adjust: 100%; /* 2 */
      -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-font-smoothing: antialiased; 
    overflow-x: hidden; /* 3 */
  }
  
  /* 
  ==========================================================================
  3. GENERAL STYLES
  ========================================================================== 
  */
  a{
    text-decoration: none;
  }
  *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
  }
  h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
  }
  h2{
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    font-weight: normal;
  }
  h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .about-text-heading{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 600;
  }
  h4, .pdf-icon, .play-icon{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
  }
  h2 span{
    font-size: 16px;
    color: #1b1b1b;
    display: block;
  }
  .intro-title, 
  .intro-tagline{
    margin-bottom: 35px;
  }
  p{
    font-family: 'Muli', sans-serif;
    line-height: 1.8;
  }
  .intro-tagline{
    font-size: 16px;
  }
  .intro-service-text, 
  .about-text, 
  .testimonials-text, 
  .app-feature-text, 
  .app-testimonial-text, 
  .footer-descr, 
  .tweet{
    font-size: 13px;
    color: #505050;
  }
  .intro-title, 
  .intro-service-title, 
  #intro h4, 
  #intro p, 
  .pdf-icon,
  .logo,
  .main-navigation a{
    color: #fff;
  }
  .li-icon{
    font-family: "linea-basic-10";
  }
  .intro-li-icon, 
  .logo-footer{
    margin-bottom: 20px;
  }
  .logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .main-navigation a, .mobile-nav a{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  .main-navigation a{
    font-size: 12px;
  }
  .mobile-nav a{
    font-size: 14px;
    display: block;
    padding: 22px 30px;
    box-shadow: 0px 1px 0px rgba(255,255,255,.05);
  }
  .mobile-nav a:hover{
    background: #da0d2b;
    box-shadow: none;
  }
  label.error{
    background: #DA0D2B;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 25px;
    position: absolute;
    top: -50px;
    left: 15px;
  }
  .error .fa{
    margin-right: 7px;
  }
  label.error:after{
    content: '';
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #DA0D2B;
    position: absolute;
    bottom: -6px;
    left: 16px;
  }
  h3, 
  .pdf-icon:before{
  	margin-bottom: 15px;
  }
  .intro-li-icon, 
  .app-li-icon{
    display: block;
    font-size: 32px;
    color: #099277;
  }
  .align-center{
    text-align: center;
  }
  .align-left{
    text-align: left;
  }
  .align-right{
    text-align: right;
  }
  .light-section-heading{
    color: #da0d2b;
  }
  /* adding subtle nice transitions to multiple elements */
  .btn,
  .pdf-icon:before,
  .play-icon:before,
  .footer-photos a,
  .logo,
  #nav-expander,
  .main-navigation,
  .main-navigation a,
  .logo-background,
  .testimonials-clients a,
  .close-btn,
  .work-description,
  .work:before,
  .btn-cta-intro:before,
  .btn-cta-intro span,
  .work-description,
  .work-description-icon,
  .footer-social-icon,
  .footer-photos a,
  .footer-photos a span,
  .footer-photos a:before,
  .project-pictures a:before,
  .project-pictures a span,
  .portfolio-picture a:before,
  .portfolio-picture a span{
    transition: all 0.25s ease-in-out 0s;
  }
  #intro p, 
  .pdf-icon:hover:before, 
  .play-icon:hover:before,  
  #nav-expander:hover, 
  .main-navigation a:hover,
  .testimonials-clients a:hover,
  .close-btn:hover,
  .footer-social-icon:hover{
    opacity: .75;
  }
  /* styling the buttons */
  .btn{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btn-cta{
    border: 2px solid;
  }
  .btn-cta-portfolio, 
  .btn-cta-app, 
  .btn-cta-submit, 
  .btn-cta-testimonials{
    border-color: #1b1b1b;
    background: #fff;
    color: #1b1b1b;
    padding: 12px 30px;
    border-radius: 35px;
    font-size: 12px;
  }
  a.btn{
    padding: 15px 30px;
  }
  .btn-cta-intro:hover, 
  .btn-cta-portfolio:hover, 
  .btn-cta-app:hover, 
  .btn-cta-submit:hover, 
  .btn-cta-testimonials:hover{
    background: #da0d2b;
    border-color: #da0d2b;
    color: #fff;
  }
  /* disabling select when dragging the owl carousel */
  #owl{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .testimonials-clients img,
  .logo-background img{
    height: 35px;
  }
  /* 
  ==========================================================================
  4. INTRO (MAIN SCREEN)
  ========================================================================== 
  */
  #intro{
    background-color: #39333f;
    padding-bottom: 90px;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
  .home-intro{
    background-image: url("../images/home-intro-bg.png");
  }
  .header{
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #header-wrap{
    width: 100%;
    margin-top: 45px;
    background-color: transparent;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    -ms-transition: all 0.25s ease 0s;
    position: fixed;
    z-index: 100;
  }
  #header-wrap.smaller{
    background-color: rgba(0,0,0,.9);
    padding-top: 0;
    margin-top: 0;
  }
  .smaller .logo{
    color: #da0d2b;
  }
  .smaller .header{
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .smaller .main-navigation a:hover{
    opacity: 1;
    color: #da0d2b;
  }
  .main-navigation{
    position: absolute;
    right: 70px;
    top: 24px;
    opacity: 0;
    visibility: hidden;
  }
  .main-navigation.visible{
    opacity: 1;
    visibility: visible;
    top: 4px;
  }
  .main-navigation li{
    display: inline-block;
    margin-left: 15px;
  }
  .intro-content{
    padding-top: 260px;
    padding-bottom: 160px;
  }
  .header .col-md-12{
    height: 30px;
  }
  .intro-services .owl-item{
    padding-right: 20px;
  }
  #nav-expander {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -9px;
  }
  .intro-li-icon{
    color: #099277;
  }
  #intro h4{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.15);
  }
  .btn-cta-intro{
    font-size: 14px;
    position: relative;
    color: #fff;
    border-radius: 35px;
    padding: 14px 35px;
    border-color: white;
    overflow: hidden;
    backface-visibility: hidden;
  }
  .pdf-icon:before{
    display: block;
    width: 100%;
    height: 87px;
    content: url(../images/pdf-icon.png);
  }
  .pdf-icon-col{
    height: 236px;
    position: relative;
  }
  .pdf-icon{
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 0px;
  }
  .pdf-icon:active{
    bottom: 28px;
  }
  .intro-heading{
    position: relative;
  }
  .intro-arrows{
    position: absolute;
    top: 0;
    right: 0;
  }
  .intro-arrows li{
    display: inline-block;
    margin-left: 7px;
  }
  .arrow{
    color: #fff;
  }
  .arrow:hover{
    color: #da0d2b;
  }
  /* 
  ==========================================================================
  5. ABOUT
  ========================================================================== 
  */
  #about{
  	background-color: #f5f5f5;
  	padding-top: 90px;
  	overflow: hidden;
    border-bottom: 1px solid #e3e3e3;
  }
  .section-heading{
  	margin-bottom: 65px;
    line-height: 1.4;
  }
  .section-heading:before{
  	display: block;
  	width: 100%;
  	text-align: center;
  	height: 14px;
  	margin-bottom: 25px;
  }
  .light-section-heading:before{
  	content: url(../images/heading-before.png);
  }
  .about-features li{
    font-family: 'Muli', sans-serif;
  	font-size: 13px;
  	margin-right: 45px;
  	margin-bottom: 15px;
    display: inline-block;
  }
  .about-features .fa{
  	color: #099277;
  	margin-right: 7px;
  }
  .macbook{
    background: url(../images/macbook.png) 0 no-repeat;
  	position: relative;
  	width: 532px;
  	height: 285px;
  	z-index: 2;
    top: 8px;
  }
  .macbook-image{
  	position: absolute;
  	top: 24px;
  	left: 94px;
  }
  .play-icon {
  	z-index: 9;
  	position: absolute;
  	color: #fff;
  	width: 100%;
  	text-align: center;
  	left: 0;
  }
  .macbook-play-icon{
    top: 110px;
  }
  .play-icon:before{
  	content: url(../images/play-icon.png);
  	display: block;
  	margin-bottom: 10px;
  }
  .browser{
  	width: 854px;
  	height: 463px;
  	background: url(../images/browser.png) 0 no-repeat;
  	position: absolute;
    right: 70px;
  	bottom: -40px;
  	z-index: 1;
  }
  #about .col-md-6{
  	margin-bottom: 185px;
  }
  .browser-image{
  	position: absolute;
  	top: 74px;
  	left: 26px;
  }
  /* 
  ==========================================================================
  6. PORTFOLIO
  ========================================================================== 
  */
  #portfolio{
  	padding-top: 90px;
  	padding-bottom: 90px;
  }
  .work{
  	position: relative;
  }
  .work a{
    display: inline-block;
  }
  .logo-background {
  	background: rgba(0,0,0,.85);
  	height: 115px;
  	text-align: center;
  	width: 100%;
  	position: absolute;
  	bottom: 0;
  	font: 0/0 a;    
  }
  .logo-background:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .work > img{
    display: block;
    width: 100%;
  }
  .work,
  .logo-background img{
  	display: inline-block;
  }
  .logo-background img{
  	vertical-align: middle;
  }
  .work-description{
    position: absolute;
    z-index: 9;
    bottom: 115px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    color: #fff;  
  }
  .work-project-link{
    color: #fff;
    position: relative;
  }
  .work-project-link:hover{
    text-decoration: underline;
  }
  .work:hover .work-description,
  .work:focus .work-description{
    opacity: 1;
    visibility: visible;
    bottom: 50%;
    margin-bottom: -18px;
  }
  .work:before,
  .footer-photos a:before,
  .project-pictures a:before,
  .portfolio-picture a:before{
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    background: rgba(218, 13, 43, .85);
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
  .project-pictures a:before,
  .portfolio-picture a:before{
    border-radius: 4px;
  }
  .work:hover:before,
  .footer-photos a:hover:before,
  .footer-photos a:focus:before,
  .project-pictures a:focus:before,
  .project-pictures a:hover:before,
  .portfolio-picture a:hover:before,
  .portfolio-picture a:focus:before{
    opacity: 1;
    visibility: visible;
  }
  .work:hover .logo-background{
    background: rgba(0,0,0,0);
  }
  .work-description h3{
    margin-bottom: 10px;
  }
  #portfolio .owl-controls{
    padding-top: 45px;
    margin-top: 0;
    margin-bottom: 45px;
  }
  #portfolio .owl-theme .owl-controls .owl-page.active span,
  #testimonials-box .owl-page.active span,
  #app-testimonial-carousel .owl-page.active span,
  #footer .owl-theme .owl-controls .owl-page.active span{
    background: transparent;
    border: 2px solid #da0d2b;
  }
  #portfolio .owl-theme .owl-controls .owl-page.active span,
  #testimonials-box .owl-page.active span,
  #app-testimonial-carousel .owl-page.active span,
  #footer .owl-theme .owl-controls .owl-page.active span{
    background: #da0d2b;
  }
  #portfolio div.owl-carousel div.owl-wrapper-outer{
    margin-left: -1px;
  }
  .work-description-icon{
    padding: 10px;
    background: rgba(27,27,27,.9);
  }
  .work-description-icon:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }
  .work-description-icon:hover:after{
    width: 100%;
  }
  .work-description-icon:hover{
    color: #1b1b1b;
  }
  .work-description-icon em{
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    top: -1px;
  }
  .work{
    margin: 0 15px;
  }
  /* 
  ==========================================================================
  7. TESTIMONIALS
  ========================================================================== 
  */
  #testimonials-box img{
    display: block;
  }
  .testimonials-text-holder{
    height: 376px;
  }
  .testimonials-text-holder p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: -moz-translateY(-50%);
    -webkit-transform: -webkit-translateY(-50%);
    -o-transform: -o-translateY(-50%);
    -ms-transform: -ms-translateY(-50%);
  }
  .testimonials-client-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    color: #da0d2b;
    margin-top: 10px;
  }
  #testimonials{
    padding-top: 90px;
    padding-bottom: 90px;
    border-top: 1px solid #e3e3e3;
  }
  #testimonials-box .owl-buttons,
  #app .owl-buttons{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 100%;
  }
  #testimonials-box .owl-buttons .owl-prev{
    position: absolute;
    left: 0;
  }
  #testimonials-box .owl-buttons .owl-next{
    position: absolute;
    right: 0;
  }
  #testimonials-box .owl-buttons div, 
  #app .owl-buttons div{
    background: none;
    font-size: 36px;
    color: #cbcbcb;
  }
  #testimonials-box .owl-buttons div:hover{
    color: #da0d2b;
  }
  .testimonials-clients{
    width: 100%;
    border-top: 1px solid #e3e3e3;
    margin-top: -10px;
    float: left;
  }
  .testimonials-clients li{
    padding: 45px 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 65px;
  }
  .testimonials-clients li:last-child{
    margin-right: 0;
  }
  .cd-testimonials-all {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/modalbg.jpg);
    background-size: cover;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .cd-testimonials-all:before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.75);
  }
  .cd-testimonials-all .cd-testimonials-all-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .cd-testimonials-all .cd-testimonials-all-wrapper > ul {
    width: 90%;
    max-width: 1170px;
    margin: 4em auto;
  }
  .cd-testimonials-all .cd-testimonials-all-wrapper > ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-testimonials-all .cd-testimonials-item {
    margin-bottom: 2em;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0.4);
    -moz-transform: translate3d(0, 0, 0) scale(0.4);
    -ms-transform: translate3d(0, 0, 0) scale(0.4);
    -o-transform: translate3d(0, 0, 0) scale(0.4);
    transform: translate3d(0, 0, 0) scale(0.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
  }
  .cd-testimonials-all p {
    position: relative;
    border-radius: 0.25em;
    margin-bottom: 20px;
    background: none repeat scroll 0% 0% #E5E5E5;
    font-size: 13px;
    padding: 2em;
    color: #1B1B1B;
    text-align: left;
  }
  .cd-testimonials-all p::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 32px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-color: #e5e5e5 transparent transparent;
  }
  .cd-testimonials-all .cd-author {
    text-align: left;
    margin-left: 1.5em;
  }
  .cd-author-info{
    float: left;
    margin-top: 8px;
  }
  .cd-author-info li{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .cd-author-info li:first-child{
    text-transform: uppercase;
  }
  .cd-author-info li:last-child{
    opacity: .75;
  }
  .cd-testimonials-all .cd-author img {
    box-shadow: 0 0 0 transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
  }
  .cd-testimonials-all.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .cd-testimonials-all.is-visible .cd-testimonials-item {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
  }
  .close-btn {
    position: fixed;
    display: block;
    width: 40px;
    height: 40px;
    top: 25px;
    right: 5%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  .close-btn::before, .close-btn::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 24px;
    top: 8px;
    left: 19px;
    background-color: #fff;
  }
  .close-btn::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .close-btn::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* 
  ==========================================================================
  8. VIDEO
  ========================================================================== 
  */
  #video:hover .vjs-big-play-button:before{
    opacity: 1;
  }
  #video{
    overflow: hidden;
  }
  /* 
  ==========================================================================
  9. DOWNLOAD OUR APP
  ========================================================================== 
  */
  #app{
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #app .container{
    position: relative;
  }
  .app-col{
    display: table;
    margin-bottom: 45px;
  }
  .app-li-icon {
    font-size: 42px;
    vertical-align: top;
    display: table-cell;
    width: 70px;
    text-align: left;
  }
  .app-feature-heading{
    margin-bottom: 10px;
  }
  .app-iphone{
    width: 280px;
    height: 578px;
    background: url(../images/iphone.png) 0 0 no-repeat;
    position: absolute;
    top: 175px;
    right: 0;
  }
  .app-li-icon{
    font-size: 42px;
  }
  .app-testimonial{
    text-align: center;
  }
  .app-testimonial-image{
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .app-testimonial-heading{
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .app-testimonial-heading h4{
    margin-bottom: 10px;
  }
  .app-testimonial-rating li {
    display: inline-block;
    font-size: 11px;
    padding: 4px 6px;
    background: #da0d2b;
    color: #fff;
    border-radius: 2px;
  }
  .app-testimonial-text{
    margin-bottom: 45px;
  }
  #app .owl-prev{
    position: absolute;
    left: 130px;
  }
  #app .owl-next{
    position: absolute;
    right: 130px;
  }
  .star-empty{
    background: #5b5965;
  }
  #app-iphone-video{
    left: 23px;
    top: 79px;
  }
  #app-iphone-video .vjs-control-bar{
    display: none;
  }
  .iphone-image{
    position: absolute;
    left: 23px;
    top: 79px;
  }
  .iphone-play-icon{
    margin-top: -13px;
    top: 50%;
  }
  /* 
  ==========================================================================
  10. CONTACT
  ========================================================================== 
  */
  #contact{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #39333f;
    background-image: url(../images/contact-bg.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
  .colored-section-heading,
  .colored-section-heading span{
    color: #fff;
  }
  .colored-section-heading:before{
    content: url(../images/light-heading-before.png);
  }
  #contact input[type="text"],
  #contact input[type="email"]{
    width: 100%;
    margin-bottom: 30px;
  }
  #contact input#cfsubject{
    margin-right: 0;
  }
  .contact-form-field{
    border: 2px solid white;
    border-radius: 2px;
    color: #fff;
    background-color: transparent;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    padding-left: 46px;
  }
  #contact input.contact-form-field,
  #contact input.contact-form-field:focus,
  #contact textarea#cfmessage{
    background-repeat: no-repeat;
  }
  .cffield-upper{
    height: 50px;
  }
  #contact input.cffield-upper,
  #contact input.cffield-upper:focus{
    background-position: 20px center;
  }
  #cfmessage{
    padding-top: 15px;
    width: 100%;
    height: 155px;
    margin-bottom: 30px;
    background-position: 20px 15px;
  }
  .contact-form-field:focus{
    background: #fff;
    color: #1b1b1b;
  }
  .contact-info-details{
    margin-bottom: 45px;
    font-size: 13px;
  }
  .contact-info-col{
    color: #fff;
  }
  .btn-cta-submit{
    float: right;
    background: none;
    color: #fff;
    border-color: #fff;
  }
  #cfname{
    background-image: url(../images/contact-form/name.png);
  }
  #cfname:focus{
    background-image: url(../images/contact-form/name-hovered.png);
  }
  #cfemail{
    background-image: url(../images/contact-form/email.png);
  }
  #cfemail:focus{
    background-image: url(../images/contact-form/email-hovered.png);
  }
  #cfsubject{
    background-image: url(../images/contact-form/subject.png);
  }
  #cfsubject:focus{
    background-image: url(../images/contact-form/subject-hovered.png);
  }
  #cfmessage{
    background-image: url(../images/contact-form/message.png);
  }
  #cfmessage:focus{
    background-image: url(../images/contact-form/message-hovered.png);
  }
  #contact-form .col-md-4,
  #contact-form .col-md-9{
    position: relative;
  }
  /* 
  ==========================================================================
  11. FOOTER
  ========================================================================== 
  */
  #footer{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #eee;
  }
  .logo-footer{
    display: block;
    color: #DA0D2B;
    margin-bottom: 20px;
  }
  .footer-descr{
    margin-bottom: 30px;
  }
  .footer-social li{
    display: inline-block;
  }
  .footer-social-icon{
    width: 55px;
    padding: 8px 0;
    text-align: center;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
  }
  .footer-social-icon span{
    margin-right: 5px;
  }
  .fsi-facebook{
    background-color: #3162a2;
  }
  .fsi-twitter{
    background-color: #2eb1eb;
  }
  .fsi-dribbble{
    background-color: #f552b6;
  }
  .fsi-pinterest{
    background-color: #cb2027;
  }
  .footer-photos li, .footer-photos a{
    display: inline-block;
  }
  .footer-photos a,
  .project-pictures a,
  .portfolio-picture a{
    position: relative;
  }
  .footer-photos a span,
  .project-pictures a span,
  .portfolio-picture a span{
    position: absolute;
    top: 0;
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
    top: 100%;
  }
  .footer-photos a:hover span,
  .project-pictures a:hover span,
  .portfolio-picture a:hover span{
    opacity: 1;
    visibility: visible;
    top: 50%;
  }
  .footer-photos a:hover span,
  .project-pictures a:hover span{
    margin-top: -8px;
  }
  #portfolio-pictures a:hover span{
    margin-top: -6px;
  }
  .footer-photos li{
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .footer-photos li:nth-child(3n){
    margin-right: 0;
  }
  .footer-photos img{
    display: block;
  }
  .footer-links a{
    display: block;
    font-family: 'Muli', sans-serif;
    font-size: 13px;
    color: #505050;
    margin-bottom: 12px;
    padding-left: 23px;
    background: url(../images/link-arrow.png) 0 1px no-repeat;
  }
  .footer-links a:hover{
    color: #DA0D2B;
  }
  .tweet{
    font-family: 'Muli', sans-serif;
    padding-left: 25px;
    position: relative;
  }
  .tweet:before{
    color: #2eb1eb;
    font-family: 'FontAwesome';
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    content:"\f099";
  }
  .tweet-user{
    color: #2eb1eb;
    margin-bottom: 10px;
    display: block;
  }
  .tweet-date{
    display: block;
    font-weight: bold;
  }
  #footer .owl-pagination{
    text-align: left;
    padding-left: 21px;
    margin: 0;
  }
  /* 
  ==========================================================================
  12. RESPONSIVE MAIN MENU
  ========================================================================== 
  */
  .offset-canvas-mobile{
   -webkit-transition: all .3s cubic-bezier(1, 0, 0, 1);
    -o-transition: all .3s cubic-bezier(1, 0, 0, 1);
    transition: all .3s cubic-bezier(1, 0, 0, 1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background-color: #121212;
    color: #fff;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    /* mobile apparently doesn't support translate */
    visibility: hidden;
    opacity: 0;
  }  
  .offset-canvas-mobile.open-canvas {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); 
    visibility: visible;
    opacity: 1;
  }
  .mobile-nav-holder{
    padding-top: 80px;
  }
  .mobile-nav-close-btn{
    top: 20px;
    right: 20px;
  }
  /* 
  ==========================================================================
  13. SINGLE PROJECT PAGE
  ========================================================================== 
  */
  .about-project-header{
    padding-top: 90px;
    padding-bottom: 45px;
    border-bottom: 1px solid #ddd;
  }
  .about-project-text{
    padding-top: 45px;
  }
  .project-pictures{
    padding-top: 30px;
    padding-bottom: 90px;
  }
  .project-pictures a{
    display: block;
  }
  .project-pictures img, #portfolio-pictures img{
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  .main-nav-project{
    opacity: 1;
    visibility: visible;
  }
  .main-nav-single-project.visible{
    top: 8px;
    right: 15px;
  }
  #about-project{
    background-color: #f5f5f5;
  }
  .single-project-intro{
    background-image: url("../images/single-bg.png");
  }
  .single-project-intro .intro-title,
  .portfolio-intro .intro-title{
    margin-bottom: 15px;
  }
  .single-testimonial-client{
    border-radius: 50%;
  }
  .single-project-testimonials .testimonials-text{
    padding-left: 10px;
  }
  .main-nav-single-project span{
    margin-right: 10px;
  }
  /* 
  ==========================================================================
  14. PORTFOLIO PAGE
  ========================================================================== 
  */
  #portfolio-pictures{
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .portfolio-picture a{
    display: block;
  }
  .portfolio-picture{
    margin-bottom: 30px;
  }
  .featured-portfolio-picture, .featured-portfolio-picture img{
    height: 372px;
  }
  #intro.portfolio-intro{
    background-image: url("../images/portfolio-bg.png");
  }
  .portfolio-intro .intro-content {
    padding-top: 200px;
    padding-bottom: 45px;
  }
  #portfolio-pictures a span.portfolio-picture-name{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
  .projects-hidden{
    display: none;
  }
/* 
==========================================================================
15. MEDIA QUERIES
========================================================================== 
*/
@media only screen and (min-width: 1170px) {
  .cd-testimonials-all .cd-testimonials-item {
    width: 30%;
    margin: 0 1.6666% 3em;
  }
}
@media screen and (max-width: 1024px){
  ul.footer-photos li:nth-child(3n){
    margin-right: 5px;
  }
  label.error{
    font-size: 9px;
  }
  #testimonials-box img{
    display: none;
  }
  .testimonials-text-holder{
    height: auto;
    padding-bottom: 45px;
  }
  .testimonials-text-holder p{
    top: auto;
    position: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
  }
  #testimonials-box .owl-buttons, #app .owl-buttons{
    margin-top: -50px;
  }
  .testimonials-clients img{
    width: 80%;
  }
  .testimonials-clients li{
    padding: 45px 0;
    margin-right: 25px;
  }
  div.vjs-default-skin .vjs-progress-control{
    width: 740px;
    margin-left: -370px;
  }
  div.vjs-default-skin .vjs-control-bar{
    width: 940px;
    margin-left: -470px;
  }
  .single-project-testimonials{
    text-align: center;
  }
  .single-testimonial-client{
    margin-bottom: 30px;
  }
  .featured-portfolio-picture, .featured-portfolio-picture img {
    height: 306px;
  }
}
@media only screen and (max-width: 768px){
  .cd-testimonials-all .cd-author {
    margin-left: 1em;
  }
}
@media screen and (max-width: 768px) {
  .featured-portfolio-picture, .featured-portfolio-picture img {
    height: auto;
  }
 
 .single .intro-content {
  padding-top: 160px;
  padding-bottom: 65px;
 }
  .container{
    padding-left: 30px;
    padding-right: 30px;
  }
  h2.section-heading{
    margin-bottom: 45px;
  }
  section#intro{
    padding-bottom: 45px;
  }
  section#about, section#portfolio, section#testimonials, section#app, section#contact, footer#footer{
    padding-top: 45px;
    padding-bottom: 45px;
  }
  section#about{
    padding-bottom: 0;
  }
  section#about .col-md-6{
    margin-bottom: 25px;
    text-align: left;
  }
  .browser, #testimonials-box img.testimonials-picture, #video, .app-iphone{
    display: none;
  }
  .macbook{
    margin: 0 auto;
  }
  #app{
    background-color: #F5F5F5;
  }
  a.pdf-icon{
    bottom: auto;
    top: 45px;
  }
  .pdf-icon-col{
    height: 158px;
  }
  ul.about-features li{
    display: table-cell;
    text-align: left;
    margin: 0;
    line-height: 1.4;
  }
  ul.testimonials-clients li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 25px;
    margin: 0;
  }
  ul.testimonials-clients{
    margin-bottom: 30px;
  }
  .testimonials-text-holder p{
    top: auto;
    transform: none;
  }
  div.testimonials-text-holder {
    height: auto;
    padding-bottom: 45px;
  }
  label.error{
    top: -42px;
  }
  #contact .col-md-9{
    padding: 0;
  }
  #contact .col-md-3{
    text-align: center;
  }
  #footer .col-md-4,
  #footer .col-md-3,
  #footer .col-md-2{
    margin-bottom: 35px;
  }
  .footer-links li{
    display: inline-block;
    margin-right: 15px;
  }
  .footer-links a{
    background-position: 0 1px;
  }
  .footer-photos li{
    margin-bottom: 0;
  }
  .footer-descr{
    margin-bottom: 15px;
  }
  #testimonials-box .owl-pagination, 
  #app-testimonial-carousel .owl-pagination{
    margin-top: 0px;
    position: relative;
    top: -35px;
  }
  ul.about-features li{
    float: left;
    width: 33.3%;
    margin: 8px 0;
  }
}
@media screen and (max-width: 640px){
  div.intro-content {
    padding-top: 180px;
    padding-bottom: 90px;
  }
  ul.about-features li{
    width: 50%;
  }
  .project-picture{
    margin-bottom: 30px;
  }
  .project-pictures{
    padding-bottom: 60px;
  }
  .about-text-col{
    margin-bottom: 30px;
  }
  .about-project-header{
    padding-bottom: 15px;
  }
  .pp_pic_holder.pp_default{ 
    width: 100%!important; 
    left: 0!important; 
    overflow: hidden; 
  }
  div.pp_default .pp_content_container .pp_left{ 
    padding-left: 0!important; 
  }
  div.pp_default .pp_content_container .pp_right{
    padding-right: 0 !important; 
  }
  .pp_content{ 
    width: 100% !important; 
    height: auto !important; 
  }
  .pp_fade{ 
    width: 100% !important; 
    height: 100%!important; 
  }
  a.pp_expand,
  a.pp_contract, 
  .pp_hoverContainer, 
  .pp_gallery, 
  .pp_top, 
  .pp_bottom{ 
    display: none !important; 
  }
  #pp_full_res img{ 
    width: 100% !important; 
    height: auto !important; 
  }
  .pp_details{ 
    width: 100% !important; 
    padding-left: 3%; 
    padding-right: 4%; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    background-color: #fff;
    margin-top: -2px !important; 
  }
  a.pp_close{ 
    right: 7% !important; 
    top: 10px !important; 
  }
}
@media screen and (max-width: 480px){
  div.macbook {
  background: none;
  width: 100%;
  height: auto;
  padding: 10px 0 55px 0;
 }
  .macbook-image{
    display: none;
  }
  .macbook-play-icon{
    top: auto;
  }
  a.play-icon{
    position: relative;
    left: auto;
    color: #1b1b1b;
  }
  div.macbook{
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 321px){
  ul.about-features li{
    width: 100%;
  }
  h3{
    font-size: 11px;
  }
}