body .logo span {
	color: #1ABC9C;
}

body #header-wrap {
	  border-bottom: 1px solid rgba(238, 238, 238, .2);
	  margin-top: 0;
}

body #header-wrap.smaller{
	border-bottom: 0;
}

body #header-wrap:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;


}

body #intro.fullPage {
	height: 100vh;
	background-image: url('../images/fullpage/grid.png');
	background-repeat: repeat repeat;
	background-position: center center;
	background-color: #1d1d1d;
}

video {
	opacity: .3;
	-webkit-filter: blur(5px);

}

.one-page-arrow {
  position: absolute;
  z-index: 3;
  bottom: 2%;
  left: 50%;
  color: #FFF;
  background-color: transparent;
  display: block;
  font-size: 36px;
}

.one-page-arrow:hover,
.one-page-arrow:active,
.one-page-arrow:focus{
	color: #fff;
	opacity: .55;
}

/* More magic :) */

body #intro .intro-content {
  z-index: 11;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.intro-title {
		position: relative;
		padding-bottom: 35px;
}

.intro-title:after {
	position: absolute;
	content: '';
	width: 20%;
	height: 1px;
	background-color: #EEE;
	opacity: .3;
	bottom: 0;
	left: 40%;
}